.fa{
    color:crimson;
    cursor:pointer;
}

.blog{
    padding: 20px;
    text-align: center;
    max-width: 75%;
    margin: 10px auto;
    border:1px solid var(--color);
}

.likeCount{
    font-size: small;
    color: rgb(129, 3, 3);
}


