a{
  color:black;
  font-family: 'DotGothic16', sans-serif;
  /* text-shadow: 1px 1px 15px var(--color); */
}

.link{
  font-family: 'Roboto Condensed', sans-serif;
  margin:0px 5px;
  color: black;
}

.brand-logo{
  color:black!important;
}

button{
  margin:10px;
}